<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; Wanderlust private limited</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
